<div class="container">
  <div class="form-group mt-5">
    <input class="form-control" type="text" placeholder="Znajdż product" [(ngModel)]="productName">
  </div>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item" *ngFor="let category of categories; let i = index">
      <div class="nav-link" (click)="cat = categories[i].value" [class.active]="cat === categories[i].value" >{{category.name}}</div>
    </li>
  </ul>

  <div class="dashboard">
    <ng-container *ngFor="let product of products1|filter:category:cat | search:productName ">
    <div  *ngIf="product.isDeleted"  [@fadeInOut]>
        <app-food [@fadeInOut]  [product]="product"  class="box"></app-food>
    </div>
    </ng-container>
  </div>
</div>



