<h2 class="text-center">Update product</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="title">Title</label>
    <input id="title" formControlName="title">
    <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
      <small *ngIf="form.get('title').errors.required">Enter title</small>
    </div>
  </div>
  <div>
    <label for="weight">Waga</label>
    <input id="weight" formControlName="weight">
    <div *ngIf="form.get('weight').touched && form.get('weight').invalid" class="validation">
      <small *ngIf="form.get('weight').errors.required">Enter title</small>
    </div>
  </div>
  <div>
    <label for="cost">Cena</label>
    <input id="cost" formControlName="cost">
    <div *ngIf="form.get('cost').touched && form.get('cost').invalid" class="validation">
      <small *ngIf="form.get('cost').errors.required">Enter title</small>
    </div>
  </div>
  <div>
    <label for="category">Category</label>
    <select name="category" id="category" formControlName="category">
      <option value="main">Main Dish</option>
      <option value="soups">Soups</option>
      <option value="salads">Salads</option>
    </select>
    <div *ngIf="form.get('category').touched && form.get('category').invalid" class="validation">
      <small *ngIf="form.get('category').errors.required">Choose category</small>
    </div>
  </div>
  <div >
    <label for="description">Description</label>
    <input id="description" formControlName="description" >
    <div *ngIf="form.get('description').touched && form.get('description').invalid" class="validation">
      <small *ngIf="form.get('description').errors.required">Enter description</small>
    </div>
  </div>
  <div>
    <label for="imgUrl">Image</label>
    <input id="imgUrl" type="file" formControlName="imgUrl">
    <div *ngIf="form.get('imgUrl').touched && form.get('imgUrl').invalid" class="validation">
      <small *ngIf="form.get('imgUrl').errors.required">Provide image</small>
    </div>
  </div>
  <button type="submit" class="btn btn-success " [disabled]="form.invalid">Change</button>
</form>
