<div class="mt-5 " *ngIf="orders.length; else empty">
  <h3 class="text-center mb-5">Zamówienia</h3>
  <ul class="nav nav-pills nav-fill">
  <li class="nav-item mt-3 mb-3" *ngFor="let status of statuses ; let i = index">
    <div class="nav-link" (click)="changeValue(i)" [class.active]="stat === statuses[i].value" >{{status.text}}</div>
  </li>
  </ul>
  <div class="text-center mb-5">
    <dp-date-picker [(ngModel)]="selectedDate" (onChange)="changeDate(selectedDate)"></dp-date-picker>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Czas złożenia</th>
      <th scope="col">Numer</th>
      <th scope="col">Imie</th>
      <th scope="col">Adress</th>
      <th scope="col">Produkty</th>
      <th scope="col">Cena</th>
      <th scope="col">Odbiór</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders| filter:status:stat | dateFilter:selectedDate">
      <td>{{ order.date | date : 'short'}}</td>
      <td>{{ order.phone }}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.address }}</td>
      <td>
        <div *ngFor= "let product of order.products">
          <div *ngIf="product">
            {{product.title}}
          </div>
        </div>
      </td>

      <td>{{ order.price}} zł</td>
      <td>{{ order.delivery}}</td>
      <td>{{ order._id}}</td>
      <td>
        <div [ngSwitch]="order.status" >
          <button class="btn btn-primary" *ngSwitchCase="'CONFIRMED'" (click)="setStatus(order._id, 'IN_PROGRESS')">Przyjęty</button>
          <button class="btn btn-success" *ngSwitchCase="'IN_PROGRESS'" (click)="setStatus(order._id,'COMPLETED')" >W procesie</button>
          <button class="btn btn-secondary" *ngSwitchCase="'COMPLETED'" [disabled]="order.status === 'COMPLETED'">Zrobiony</button>
        </div>
      </td>
      <td>
        <button (click)="deleteOrder(order._id)">Usun</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button *ngIf="stat !== null" (click)="getTotalPrice()">Get totatal price  : {{price}}</button>
</div>

<ng-template #empty>
  <h2 class="text-center">No orders</h2>
</ng-template>
