<div *ngIf="orders.length; else empty">
  <h3 class="text-center">Zamówienia:</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Czas złożenia</th>
      <th scope="col">Numer</th>
      <th scope="col">Imie</th>
      <th scope="col">Adress</th>
      <th scope="col">Produkty</th>
      <th scope="col">Cena</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders ">
      <td>{{ order.date | date : 'short'}}</td>
      <td>{{ order.phone }}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.address }}</td>
      <td>
        <div *ngFor= "let product of order.products">
          <div *ngIf="product">
            {{product.title}}
          </div>
        </div>
      </td>

      <td>{{ order.price}} zł</td>
      <td>
        <button class="btn btn-success" >Realizowane</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  <h2 class="text-center">No orders</h2>
</ng-template>
