<div class="footer-area">
  <div class="footer-area-bg" data-stellar-background-ratio="0.6"></div>
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="footer-top section-padding text-center">
          <div class="footer-logo">
            <a href="#"><img src="img/main_logo.png" alt=""></a>
          </div>
          <div class="footer-address">
            <p>20, floor, Queenslad Victoria Building. 60 california street california USA</p>
            <p><a href="mailto:info@yourrestaurant.com">info@yourrestaurant.com</a></p>
            <p><a href="tel:+48123456789">+48 123 456 789</a></p>
          </div>
          <div class="footer-social-bookmark">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="footer-menu">
          <ul>
            <li><a href="#">Teams of use</a></li>
            <li><a href="#">Privicy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="footer-copyright">
          <p>&copy; 2020 <a href="#">Your Own Restaurant</a> All Right Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
