<div class="single-menu-details">
    <div class="food-menu-img"><img [src]="product.imgUrl" [alt]="product.title"></div>
    <div class="food-menu-details">
      <h3>{{product.title}} <span class="menu-price">{{product.cost}} zł</span></h3>
      <p class="menu-speacification"><span>- Waga:</span> <span>- {{product.weight}} gr</span></p>
      <p class="menu-speacification"><span>- Lorem ipsum</span> <span>- {{product.category}}</span></p>
      <div class="card-buttons">
        <button [routerLink]="['/shop',product._id]" class="btn btn-dark">Dowiedż się więcej</button>
        <button  class="btn btn-success" (click)="addProduct(product)">Dodaj do koszyka</button>
      </div>
    </div>
</div>

