<div *ngIf="products.length; else loading">
  <h2 class="text-center mt-6">Strona Productów</h2>

  <div class="form-group">
    <input class="form-control" type="text" placeholder="Find a product..." [(ngModel)]="productName">
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Cena</th>
      <th scope="col">Data stworzenia</th>
      <th scope="col">Zmień</th>
      <th scope="col">Usuń</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let product of products | search : productName ; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.cost }}</td>
      <td>{{ product.date | date : 'short'}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/admin','product',product._id,'edit-page']">Zmień</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(product._id)">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
