<div class="container" *ngIf="cartProducts.length > 0;else empty">
  <h3 class="text-center mt-5 mb-5">Twoje aktualne zamówienie</h3>
  <div class="cart">
    <div class="cart-item" *ngFor="let prod of cartProducts; let i = index">
      <div class="cart-title">{{prod.title}}</div>
      <div class="cart-weight">{{prod.weight}}</div>
      <div class="cart-cost">{{prod.cost}}</div>
      <div class="cart-category">{{prod.category}}</div>
      <button class="btn btn-dark" (click)="removeFromCart(i)">Usuń z koszyka</button>
    </div>
  </div>
  <div class="cart-final" >Cena końcowa:{{price}} zł</div>
  <h2 class="text-center">Złoż zamówenie:</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Imie</label>
      <input class="form-control" id="name" formControlName="name">
      <div *ngIf="form.get('name').touched && form.get('name').invalid" class="validation">
        <small *ngIf="form.get('name').errors.required">Wprowadz imie</small>
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Telefon</label>
      <input class="form-control" id="phone"  formControlName="phone">
      <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class="validation">
        <small *ngIf="form.get('phone').errors.required">Enter phone</small>
      </div>
    </div>
    <div class="form-group">
      <label for="address">Adres</label>
      <input id="address" class="form-control" formControlName="address">
      <div *ngIf="form.get('address').touched && form.get('address').invalid" class="validation">
        <small *ngIf="form.get('address').errors.required">Enter your address</small>
      </div>
    </div>
    <div class="form-group">
      <label for="payment">Sposób oplaty</label>
      <select class="form-control" name="payment" id="payment" formControlName="payment">
        <option value="card">Card</option>
        <option value="cash">Cash</option>
      </select>
    </div>
    <div class="form-group">
      <label for="delivery">Sposób dostawy</label>
      <select class="form-control" name="delivery" id="delivery" formControlName="delivery">
        <option value="odbiór">Odbiór</option>
        <option value="dostawa">Dostawa</option>
      </select>
    </div>
    <div *ngIf ='productAdded'>
      <small>Oreder has been published</small>
    </div>
    <button type="submit" class="btn btn-success ">Zamów</button>
  </form>
</div>

<ng-template #empty>
  <div class="container">
    <h2 class="text-center">Twoj koszyk jest pusty</h2>
  </div>
</ng-template>
