/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css'

small
  color: red

label
  font-size: 1.2rem
  font-weight: 300
  color: #858383

form
  width: 60%
  margin: 6rem auto

.alert-wrapper
  position: fixed
  text-align: center
  top: 4.5rem
  right: 7%
  width: 15rem
  border: 2px solid black

.red
  color: red !important
  cursor: pointer

.dashboard
   display: flex
   flex-wrap: wrap
   align-items: center
   justify-content: space-around

.navbar-expand-lg .navbar-collapse
  justify-content: flex-end !important

.success
  background-color: lightgreen
.warning
  background-color: lightyellow
.danger
  background-color: lightpink

.card-buttons
  display: flex
  justify-content: space-around
  button
    width: 40%
    margin: 2rem 0
